<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Sentinels of the Please-Don't-Sue-Me</title>
  <link rel="stylesheet" href="css/app.css">
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
</head>
<body>
  <a href='/app/index.html#/heroes' class='header'><h1>Sentinels of the Please-Don't-Sue-Me</h1></a>
  <div ng-view></div>

  <div class='footer' ng-controller='HeroesController'>
    <h2>Active Heroes</h2>
    <div class='span10'>
      <ul>
        <!-- should be replaced with code on the API side, I think -->
        <li ng-repeat="hero in actives.heroes | filter:true">
          <a href="#/heroes/{{hero.id}}">{{hero.name}}</a><br>
          {{hero.hp}}<br>
          {{hero.effects}}
          <button ng-click="deactivate_hero(hero.id)">Deactivate</button>
        </li>
      </ul>

      <ul>
        <li ng-repeat="card in actives.cards | filter:true">
          <a href="#/cards/{{card.id}}">{{card.name}}</a><br>
          {{card.hp}}<br>
          {{card.special}}
          <button ng-click="deactivate_card(card.id)">Deactivate</button>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>
